.nav{
    grid-area: n;
    background-color:rgb(27, 170, 70);
    padding: 20px 50px;
  }
.item a{
    color: rgb(242, 242, 242);
    font-size: 18px;
    font-weight: 400;
}
.activeLink{
  color: rgb(213, 222, 26) !important;
}
